:root {
  --primary_color: #ffb900;
  --font-heading: "Sen", sans-serif;
  --line-clamp: 2;
}

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
/* ===================common =======================*/

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #171100;
}

.btn {
  display: inline-block;
  height: 50px;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 186%;
  text-align: center;
  min-width: 118px;
  color: #fff;
  border-radius: 999px;
  background: #171100;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ===========================Header====================== */

.header {
  position: sticky;
  top: -28px;
  z-index: 1;
  background: #fffcf4;
  padding-top: 28px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.navbar .nav {
  margin-left: calc(512px - 21px);
  display: flex;
}

.navbar .nav a {
  display: inline-block;
  position: relative;
  padding: 11px 21px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 175%;
  color: #5f5b53;
}

.navbar .nav a:hover,
.navbar .nav .active {
  text-shadow: 1px 0 0 currentColor;
  font-size: 1.6rem;
  line-height: 175%;
  text-align: center;
  color: #171100;
}

.navbar .nav .active::after {
  content: "";
  bottom: 12px;
  left: 21px;
  position: absolute;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}

.navbar .action .signup {
  margin-left: 49px;
  min-width: 144px;
  border-radius: 24.5px;
  font-size: 1.6rem;
  line-height: 175%;
}

/* =========================Hero======================= */

.hero {
  background-color: #fffcf4;
  padding: 56px 0 65px 0;
}

.hero .hero-body {
  display: flex;
  align-items: center;
}

.hero .hero-image,
.hero .hero-info {
  width: 50%;
}

.hero .hero-body .img {
  display: block;
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-image {
  position: relative;
}

.hero .hero-image .info-image {
  position: absolute;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  right: 0;
  bottom: 48px;
}

.hero-image .info-image .block {
  display: flex;
  align-items: center;
  margin-right: 34px;
  margin-top: 14px;
}

.hero-image .info-image .block:first-child {
  margin-top: 0;
}

.hero-image .block .icon-info {
  margin-left: 16px;
}

.hero-image .block .desc {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 186%;
  color: #5f5b53;
}

.hero-image .block .name-info {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 167%;
  color: #171100;
}

.hero .hero-body .hero-info {
  padding-left: 100px;
}

.hero-body .hero-info .title {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.5rem;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #171100;
}

.hero-body .hero-info .desc {
  margin-top: 22px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 167%;
  color: #5f5b53;
}

.hero-body .hero-info .hero-cta {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero-info .hero-cta .courses {
  background-color: var(--primary_color);
  height: 64px;
  padding: 18px 0;
  min-width: 180px;
  font-size: 1.8rem;
  line-height: 165%;
  border-radius: 32px;
}

.hero-info .hero-cta .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
}

.hero-cta .watch-video .btn-watch {
  transform: translateY(6px);
}

.hero-cta .watch-video .watch {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 167%;
  color: #171100;
}

.hero-info .recent,
.hero-info .intro span {
  margin-top: 48px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 167%;
  color: #5f5b53;
}

.hero-info .intro {
  margin-top: 8px;
}

.hero-info .intro:not(:first-child) {
  margin-left: 28px;
}

.hero-info .row strong {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 123%;
  color: #171100;
}

.hero-info .row span {
  margin-left: 6px;
}

/* =========================popular=========================== */
/* ========popular top========= */
.popular {
  background-color: #e5e5e5;
  padding: 135px 0 200px;
}

.popular .popular-top {
  padding-top: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .popular-top .title {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 126%;
  letter-spacing: -0.02em;
  color: #171100;
}

.popular .popular-top .desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 167%;
  color: #5f5b53;
}

.popular .popular-top .chevon {
  display: flex;
  align-items: center;
}

.popular .popular-top button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary_color);
  border: 1px solid var(--primary_color);
  cursor: pointer;
}

.popular-top .chevon .chevon-right {
  margin-left: 18px;
}

.popular .popular-top button:hover {
  background-color: var(--primary_color);
  color: white;
}
/* ====== popular body====== */
.popular .popular-body {
  margin-top: 65px;
  display: flex;
  gap: 30px;
}

.popular .popular-body .item {
  background: #ffffff;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.popular .popular-body .thump {
  height: 278px;
  width: 370px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.popular .popular-body .info-thump {
  padding: 16px 22px 22px;
}

.popular .info-thump .sub-title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 167%;
}

.info-thump .rate {
  display: flex;
  align-items: center;
}

.info-thump .rate .label-star {
  margin-left: 6px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 175%;
  color: #fea31b;
}

.info-thump .desc {
  margin-top: 6px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 186%;
  color: #5f5b53;
}

.info-thump .cta-buy {
  margin-top: 12px;
}

.info-thump .cta-buy .price {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 167%;
  color: #171100;
}

.info-thump .cta-buy > .btn:hover {
  background-color: var(--primary_color);
}

/* ================================feedback====================== */

.feedback {
  padding: 96px 0;
  background-color: #2e2100;
}

.feedback .feedback-body {
  display: flex;
  overflow: hidden;
}

.feedback .feedback-body .feedback-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
}

.feedback .feedback-list .customer {
  width: 14%;
}

.feedback .customer .avatar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

.feedback .customer .name-custom {
  color: #f7f7f7;
  font-size: 2.4rem;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 141%;
  margin-top: 18px;
}

.feedback .customer .position {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 185%;
  margin-top: 4px;
  font-weight: 300;
}

.feedback .customer .dots {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 28px;
}

.feedback .dots .elip {
  width: 6px;
  height: 6px;
  background-color: #634700;
  border-radius: 50%;
  cursor: pointer;
}

.feedback .dots .active {
  background-color: var(--primary_color);
  cursor: default;
}

.feedback .dots .elip:hover {
  background-color: var(--primary_color);
}

.feedback .feedback-list .info {
  width: 66%;
  margin-left: 5%;
}

.feedback .info .open-quote {
  display: block;
}

.feedback .info .block-quote {
  margin-left: 30px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 153%;
}

/* ====================================feature============================== */
/* =======feature 1============ */

.features {
  padding: 135px 0 200px;
  background-color: #fff;
}

.features .body-feature {
  padding-top: 65px;
  display: flex;
  align-items: center;
}

.features .left-block {
  display: flex;
}

.features .left-block .image {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}

.features .left-block .image:first-child {
  margin-top: 34px;
  margin-right: 30px;
}

.features .right-block {
  width: 40%;
  margin-left: 130px;
}

.features .right-block .sub-title {
  color: #171100;
  font-size: 3.8rem;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 126%;
  letter-spacing: -0.76px;
}

.features .right-block .desc,
.features .right-block .desc-2 {
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 175%;
}

.features .right-block .desc {
  margin: 16px 0;
}

.features .right-block .cta {
  margin-top: 32px;
}

.features .cta .btn-cta {
  min-width: 137px;
  background-color: var(--primary_color);
}

.feature-2 {
  padding-top: 0;
}

.feature-2 .body-feature {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.feature-2 .body-feature .right-block {
  margin-left: 0;
  width: 48%;
}

.feature-2 .left-block .image:first-child {
  width: 470px;
  height: 440px;
  margin: 0 0 0 130px;
}

/* ====================================blogs===================== */

.blog {
  padding: 31px 0 96px;
  background-color: #fffcf4;
}

.blog .body-blog {
  padding-top: 65px;
}

.blog .top-blog .sub-title {
  color: #130606;
  text-align: center;
  font-size: 3.8rem;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -0.76px;
}

.blog .top-blog .desc {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  color: #696262;
  text-align: center;
  font-size: 1.6rem;
  line-height: 175%;
  margin-top: 16px;
}

.blog .content-blog {
  margin-top: 55px;
  display: flex;
}

.blog .content-blog .list-item {
  display: flex;
  gap: 0 30px;
  align-items: center;
  overflow: hidden;
}

.blog .list-item .item {
  width: calc(33.33% - 20px);
  background-color: #fff;
  border-radius: 16px;
  flex-shrink: 0;
}

.blog .list-item .item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .item .image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.blog .item .info {
  padding: 20px 20px 28px 20px;
}

.blog .date-update {
  display: flex;
  align-items: center;
}

.blog .date-update .elip {
  display: inline-block;
  margin-right: 4px;
  width: 6px;
  height: 6px;
  background-color: var(--primary_color);
  border-radius: 50%;
}

.blog .date-update .date {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 185%;
}

.blog .info .horizontal {
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  margin-top: 12px;
}

.blog .info .sub-title {
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 175%;
  margin: 12px 0;
}

.blog .info .read-more:hover {
  background-color: var(--primary_color);
}

.blog .body-blog .dot {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  gap: 0 6px;
}

.blog .dot .elip.active {
  background-color: var(--primary_color);
  cursor: default;
}

.blog .dot .elip {
  display: inline-block;
  height: 6px;
  width: 6px;
  background-color: #5f5b53;
  border-radius: 50%;
  cursor: pointer;
}

.blog .dot .elip:hover {
  background-color: var(--primary_color);
}

/* =====================footer============================ */

.footer {
  padding: 96px 0 28px 0;
  background-color: #2e2100;
}

.footer .footer-body {
  display: flex;
}

.footer .footer-body .left-block {
  width: 22%;
}

.footer .left-block .desc {
  margin: 18px 0;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 185%;
}

.footer .social a + a {
  margin-left: 18px;
}

.footer .right-block {
  width: 64%;
  margin-left: 145px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer .right-block .list-cta:last-child {
  width: 241px;
}

.footer .list-cta .sub-title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 175%;
}

.footer .list-cta .horizontal {
  width: 130px;
  height: 1px;
  background-color: #59554b;
  margin-top: 14px;
}

.footer .list-cta ul {
  margin-top: 28px;
}

.footer ul li + li {
  margin-top: 12px;
}

.footer ul li a {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 185%;
}

.footer ul li strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 185%;
}

.footer .bottom-footer {
  margin-top: 38px;
}

.footer .bottom-footer .horizontal {
  height: 1px;
  background-color: #59554b;
}

.footer .bottom-footer .desc {
  margin-top: 28px;
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  line-height: 185%;
}
